@font-face {
  font-family:"Movie";
  src: url("movie-bold.ttf");
}

@font-face {
    font-family:"learning_curve_proregular";
    src: url("LearningCurve_OT-webfont.ttf");
}

.thumb {
    height: 115px;
    width: 165px;
    margin: 10px 0px 0 0;
}

body, #sidebar, .pusher{
  font-family:Movie;
  overflow:hidden;
}
#sidebar .actives{
  background-color:#8F003C;
}
#sidebar .menu-item{
  cursor:pointer;
}
#sidebar .menu-item:hover{
  background-color:#ED0065;
}

.form-input {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-input:focus{
  border-color: rgb(255,0,108);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,0,108,.075), 0 0 8px rgba(255, 0, 108, .6);
          box-shadow: inset 0 1px 1px rgba(255,0,108,.075), 0 0 8px rgba(255, 0, 108, .6);
}

.ui.vertical.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 100%;
  background: rgba(250, 250, 250, 0.1);
  height: 1px;
}

/* Sweep To Left */
  .hvr-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    background-color:rgb(133,129,129);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    border: 0;
    border-radius:0px;
    transition-duration: 0.2s;
  }
  .hvr-sweep-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FF006C;
    border: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius:0px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
    color: white;
  }
  .hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  .hvr-sweep-to-left-hal {
    display: inline-block;
    vertical-align: middle;
    background-color:rgb(133,129,129);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    border: 0;
    border-radius:0px;
    transition-duration: 0.2s;
  }
  .hvr-sweep-to-left-hal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(197,1,2);
    border: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius:0px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-left-hal:hover, .hvr-sweep-to-left-hal:focus, .hvr-sweep-to-left-hal:active {
    color: white;
  }
  .hvr-sweep-to-left-hal:hover:before, .hvr-sweep-to-left-hal:focus:before, .hvr-sweep-to-left-hal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  /* Shutter Out Vertical */
  .hvr-shutter-out-vertical {
    border: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: rgb(133,129,129);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF006C;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .panel-buttons{
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 2%, rgba(0,0,0,0.27) 59%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 2%,rgba(0,0,0,0.27) 59%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  }
#close{
  background-color:#fff;
  -webkit-app-region: no-drag;
}

#minimize{
  background-color:#fff;
  -webkit-app-region: no-drag;
}
#minimize:hover{
  background-color: #FFE700;
}
#minimize:active{
  background-color: #786D00;
}
#close:hover{
    background-color:#FF291A;
}
#close:active{
  background-color:#94180F;
}

  /* Outline Out */
  .hvr-outline-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
  }
  .hvr-outline-out:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 4px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
  }
  .hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
  }

.panel-movie {
  margin-bottom: 20px;
  background-color:rgba(201, 201, 198, 1);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

nav{
  -webkit-app-region: drag;
}
#menu-button{
  -webkit-app-region: no-drag;
}
img{
  cursor:pointer;
}

.pan{

  margin-bottom: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 2);
          box-shadow: 4px 5px 5px rgba(0, 0, 0, 2);
}

.btn-cal {
  color: #fff;
  background-color: #01AEF0;
  border-color: #0180B0;
  font-family:Movie;
}

.btn-cal:hover {
  color: #fff;
  background-color: #01B9FF;
  border-color: #0198D1;
  font-family:Movie;
}

.btn-cal:active,
.btn-cal.active{
  color: #fff;
  background-color: #017EAD;
  border-color: #004F6E;
  font-family:Movie;
}

.btn-cal-hal {
  color: #fff;
  background-color: #333333;
  border-color: #000;
  font-family:Movie;
}

.btn-cal-hal:hover {
  color: #fff;
  background-color: #565756;
  border-color: #333333;
  font-family:Movie;
}

.btn-cal-hal:active,
.btn-cal-hal.active{
  color: #fff;
  background-color: #171717;
  border-color: #000;
  font-family:Movie;
}

.btn-movie {
  color: #fff;
  background-color: #FF006C;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius:0px;
  font-family:Movie;
  font-size:14px;
}



.btn-movie:hover{
  color: #fff;
  border-color:#BD0050;
  border:1px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  outline: 0;
  border-radius:0px;
  font-family:Movie;

}

.btn-movie:active,
.btn-movie:focus{
  color: #fff;
  border-color:#BD0050;
  border:1px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  outline: 0;
  border-radius:0px;
  font-family:Movie;

}

.rounded{
  border-radius: 8px;
}

.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #667; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #BD0050 !important; background: #fff; }
        .nav-tabs > li > a::after { content: ""; background: #BD0050; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-nav > li { background: #E74C3C none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
/*.tab-content{padding:8px}*/


.nav-tabs {
    text-align:center;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);border-radius: 4px;}
/*body{ background: #EDECEC; padding:50px}*/

.btn-lang {
  color: #fff;
  background-color: #EE0578;
  border-color: #AD0457;
  font-family:Movie;
}

.btn-lang:hover {
  color: #fff;
  background-color: #FF0581;
  border-color: #FF0581;
  font-family:Movie;
}

.btn-lang:active,
.btn-lang.active{
  color: #fff;
  background-color: #A30352;
  border-color: #6E0237;
  font-family:Movie;
}

.btn-lang-hal {
  color: #fff;
  background-color: #FF7000;
  border-color: #BD5300;
  font-family:Movie;
}

.btn-lang-hal:hover {
  color: #fff;
  background-color: #FF8F30;
  border-color: #FF7000;
  font-family:Movie;
}

.btn-lang-hal:active,
.btn-lang-hal.active{
  color: #fff;
  background-color: #C25500;
  border-color: #A34800;
  font-family:Movie;
}

.btn-class {
  color: #000;
  background-color: #FFDD00;
  border-color: #A38D00;
  font-family:Movie;
}

.btn-class:hover {
  color: #000;
  background-color: #C9AF00;
  border-color: #B09800;
  font-family:Movie;
}

.btn-class:active,
.btn-class.active{
  color: #000;
  background-color: #8C7A00;
  border-color: #5C5000;
  font-family:Movie;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 2 */

#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.blur{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur".svg#blur);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

#First-content .modal-footer button:first-child,#Second-content .modal-footer button:first-child{
  	margin-right:10px;
    background-color:transparent;
    border-radius:.28571429rem;
    height:35px;
    font-weight: 300;
    border:2px solid #E0E1E2;
    color: #E0E1E2;
    outline:none;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
}

#First-content .modal-footer button:first-child:hover,#Second-content .modal-footer button:first-child:hover{
    border-color:red;
    color: red;
}

#First-content .modal-footer button:last-child,#Second-content .modal-footer button:last-child{
   border-radius:.28571429rem;
  outline:0;
  border:2px solid #2ECC40;
  background-color:transparent;
  height:35px;
  font-weight: 300;
  color:#2ECC40;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
}

#First-content .modal-footer button:last-child:hover,#Second-content .modal-footer button:last-child:hover{
    background-color: #22be34;
    color:#E2E3E3;
}




